@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-profilePicDown {
  animation: profilePic 1s ease-out;
}
@keyframes profilePic {
  from {
    transform: translateY(-140px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-languageIconDown {
  animation: languageIcon 1s ease-out;
}
@keyframes languageIcon {
  from {
    transform: translateY(-80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-moveLeft {
  animation: moveLeft 2s infinite;
}
@keyframes moveLeft {
  from {
    transform: translatex(10px);
    opacity: 0;
  }
  to {
    transform: translatex(-4px);
    opacity: 1;
  }
}

.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

.animate-down {
  animation: Down 2s infinite;
}
@keyframes Down {
  from {
    transform: translatey(-6px);
  }
  to {
    transform: translatey(5px);
  }
}

.animate-up {
  animation: Up 2s infinite;
}
@keyframes Up {
  from {
    transform: translatey(5px);
  }
  to {
    transform: translatey(-6px);
  }
}

@keyframes glow {
  0%,
  100% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #ccc,
      0 0 15px #fff,
      0 0 20px #ccc,
      0 0 25px #fff,
      0 0 30px #ccc;
  }
  50% {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #ccc,
      0 0 30px #fff,
      0 0 40px #ccc,
      0 0 50px #fff,
      0 0 60px #ccc;
  }
}

.glowing-text {
  animation: glow 2s infinite;
  color: #fff;
  font-weight: bold;
}
